.navbar-default {
  background-color: #2282b6;
  border-color: #1d709c;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e3f2fd;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e3f2fd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e3f2fd;
  background-color: #1d709c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e3f2fd;
  background-color: #1d709c;
}
.navbar-default .navbar-toggle {
  border-color: #1d709c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1d709c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #fff;
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e3f2fd;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3f2fd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3f2fd;
    background-color: #1d709c;
  }
}
#custom-bootstrap-menu {
  height: 4.875em;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: #ffffff;
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: #254f6e;
  border-width: 0px;
  border-radius: 2px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #254f6e;
}
@media (min-width: 768px) {
  #custom-bootstrap-menu > div > div.collapse.navbar-collapse.navbar-menubuilder > ul > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
#campus-locations > ul > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}
.navbar-brand {
  max-width: 50%;
}
@media (max-width: 1200px) {
  .navbar-brand img {
    width: 280px;
  }
}
@media (max-width: 992px) {
  .navbar-brand img {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 200px;
  }
}
#custom-bootstrap-menu > div > div.navbar-collapse.navbar-menubuilder.collapse.in {
  z-index: 99;
  margin-top: 4px;
  background: #fff;
  position: relative;
}
#custom-bootstrap-menu > div > div.navbar-collapse.navbar-menubuilder.collapse.in > ul > li > a {
  color: #0071bb;
}
#custom-bootstrap-menu > div > div.navbar-header > button > span {
  background-color: #fff !important;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  background: #0071bb;
}
#custom-bootstrap-menu > div > div.navbar-header > button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-line {
  color: #ffffff;
  background-color: transparent;
  border-color: #fff;
  border-width: 4px;
}
.btn-line:hover,
.btn-line:focus,
.btn-line:active,
.btn-line.active,
.open .dropdown-toggle.btn-line {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
}
.btn-line:active,
.btn-line.active,
.open .dropdown-toggle.btn-line {
  background-image: none;
}
.btn-line.disabled,
.btn-line[disabled],
fieldset[disabled] .btn-line,
.btn-line.disabled:hover,
.btn-line[disabled]:hover,
fieldset[disabled] .btn-line:hover,
.btn-line.disabled:focus,
.btn-line[disabled]:focus,
fieldset[disabled] .btn-line:focus,
.btn-line.disabled:active,
.btn-line[disabled]:active,
fieldset[disabled] .btn-line:active,
.btn-line.disabled.active,
.btn-line[disabled].active,
fieldset[disabled] .btn-line.active {
  background-color: transparent;
  border-color: #fff;
}
.topHeader {
  height: 2.5em;
  min-height: 34px;
  margin-top: 1em;
  border-radius: 2px;
}
.topHeader .dropdown-menu {
  background: #00416a;
  color: #fff;
  padding: 1.75em;
  width: 35em;
}
.topHeader .dropdown-menu h5 {
  margin-top: 0px;
}
.mainHeader {
  background: #254f6e;
  border-color: #0071bb;
  height: 5em;
}
.logo {
  width: 20em;
}
.logo img {
  width: 100%;
}
#campus-locations > ul:nth-child(1) > li:nth-child(1) {
  padding: 0.5em;
  color: #fff;
}
.location_info {
  width: 33.33%;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.location_img {
  width: 33.33%;
  float: left;
  max-width: 160px;
  padding: 0.25em;
}
.location_img img {
  width: 100%;
  height: auto;
}
#topContent {
  margin-top: -29.18em;
  position: relative;
}
#hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
  height: 29.18em;
  background: url(../images/header-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-txt {
  text-align: center;
  color: #fff !important;
}
.hero-txt h1 {
  font-size: 3.6875em;
}
.section-header {
  text-transform: uppercase;
  text-align: center;
}
.section {
  position: relative;
  margin-bottom: 4.875em;
}
.section h3 {
  text-align: center;
}
.section p {
  text-align: center;
}
.section img {
  position: relative;
  text-align: center;
  width: 100%;
}
.section:nth-child(2) {
  margin-top: 15em;
}
@media (max-width: 768px) {
  .section:nth-child(2) {
    margin-top: 22em;
  }
}
.box-section {
  padding: 4em;
}
.box-header {
  text-transform: capitalize;
}
.footer {
  background: #f1f2f2;
  padding: 5em 0;
}
.footer .container {
  border-bottom: 1px solid #404041;
}
@media (max-width: 768px) {
  .footer {
    padding-left: 1em;
  }
}
.footer-group {
  float: left;
  /* Medium devices (desktops, 992px and up) */
}
.footer-group h4 {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer-group {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .footer-group {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .footer-group {
    width: 20%;
  }
}
body > div.row.footer > div > div > ul > li > a {
  color: #404041;
}
.box-section {
  color: #fff;
}
#box-1 {
  background: url(../images/box-section-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-2 {
  background: url(../images/box-section-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-3 {
  background: url(../images/box-section-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-4 {
  background: url(../images/box-section-4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
