/// fonts
@import "bootstrap-overrides";
@import "shadows";
@import "fontKit.css";
@import "museosans.css";


// media queries
@small: ~'(max-width: 768px)';
@med: ~'(max-width: 992px)';
@lg: ~'(max-width: 1200px)';


//// Colors
@primary-50: #00416a;
@primary-100: #254f6e;
@primary-200: #0071bb;
@primary-300: #2282b6;
@footer: #f1f2f2;
@black: #404041;

#app {
  overflow-x:hidden;
  font-family: 'PT Serif', serif;
}

// header
.topHeader {
  height: 2.5em;
  min-height: 34px;
  //color: white;
  margin-top: 1em;
  border-radius: 2px;
  font-family: museo;
  .dropdown-menu {
    background: @primary-50;
    color: #fff;
    padding: 1.75em;
    width: 35em;
    h5 {
      margin-top: 0px;
    }
  }
}

.mainHeader {
  background: @primary-100;
  border-color: @primary-200;
  height: 5em;
  font-family: museo;
}

.logo {
  width: 20em;
  img {
    width: 100%;
  }
}

#campus-locations > ul:nth-child(1) > li:nth-child(1) {
  padding: 0.5em;
  color: #fff;
}

.location_info {
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1em;
  width: 33.33%;
  h5 {
    font-family: MuseoSansDisplay-Black;
  }
  p {
    font-style: italic;
    font-family: 'PT Serif', serif;
  }
  @media @small {
    width: 100%;
  }
  @media @med {
    width: 50%;
  }
}
.location_img {
  width: 33.33%;
  float: left;
  max-width: 160px;
  padding: 0.25em;
  margin-bottom: 1em;
  img {
    width: 100%;
    height: auto;
  }
  @media @small {
    width: 100%;
  }
  @media @med {
    width: 50%;
  }
}


#topContent {
  margin-top: -35em;
  position: relative;
}

#hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
  //min-height: 100%;
  height: 35em;
  background: url(../images/header-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-txt {
  margin-top: 4em;
  text-align: center;
  color: #fff !important;
  h1 {
    font-size: 3.6875em;
    font-family: MuseoSansDisplay-Black;
    font-weight: 700;
  }
  p {
    margin-top: 3em;
  }
}

#topContent > div.row > div.col-xs-12.hero-txt.section > p {
  @media @small {
    margin-top: 2em;
  }
}

.section-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
  font-family: MuseoSansDisplay-Black;
}

.section {
  //z-index: -1;
  position: relative;
  margin-bottom: 4.875em;
  h3 {
    text-align: center;
    font-family: MuseoSansDisplay-Black;
  }
  p {
    text-align: center;
  }
  img {
    position: relative;
    text-align: center;
    width: 100%;
  }
}

.section:nth-child(2) {
  margin-top: 10em;
  @media @small {
    margin-top: 27em;
  }
}

.box-section {
  padding: 4em;
  text-align: center;
  height: 350px;
  @media @small {
    height: 100%;
  }
}

.box-header {
  text-transform: capitalize;
  font-family: MuseoSansDisplay-Black;
}

.footer {
  background: @footer;
  padding: 5em 0;
  .container {
    border-bottom: 1px solid #404041;
  }
  @media @small {
    padding-left: 1em;
  }
}

.footer-logo {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  img {
    width: 40px;
  }
}

.footer-group {
  float: left;
  font-family: 'Open Sans', sans-serif;
  h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: @primary-200;
  }
  ul li a {
    color: @black;
  }
  @media (max-width: 768px){
    width: 50%;
  }
  @media (min-width: 768px){
    width: 20%;
  }
}

body > div.row.footer > div > div > ul > li > a {
  color: @black;
}

.box-section {
  color: #fff;
  @media(min-width: @small) {

  }
}

#box-1 {
  background: url(../images/box-section-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box-2 {
  background: url(../images/box-section-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box-3 {
  background: url(../images/box-section-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box-4 {
  background: url(../images/box-section-4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#modal-close {
  position: absolute;
  top: 0;
  right:0;
  width: 90px;
  height: 40px;
  background: #EF5350;
  font-size: 2em;
  border-radius: 0;
  i {
    vertical-align: super;
  }
}