@import "fontKit.css";
@import "museosans.css";
.navbar-default {
  background-color: #2282b6;
  border-color: #1d709c;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e3f2fd;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e3f2fd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e3f2fd;
  background-color: #1d709c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e3f2fd;
  background-color: #1d709c;
}
.navbar-default .navbar-toggle {
  border-color: #1d709c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1d709c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e3f2fd;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3f2fd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3f2fd;
    background-color: #1d709c;
  }
}
.navbar {
  margin-bottom: 10px;
}
#custom-bootstrap-menu {
  height: 4.875em;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: #ffffff;
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: #254f6e;
  border-width: 0px;
  border-radius: 2px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #2282b6;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #254f6e;
}
#custom-bootstrap-menu > div > div.collapse.navbar-collapse.navbar-menubuilder > ul > li > a {
  font-family: museo;
}
@media (min-width: 768px) {
  #custom-bootstrap-menu > div > div.collapse.navbar-collapse.navbar-menubuilder > ul > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
#campus-locations > ul > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}
.navbar-brand {
  max-width: 50%;
  padding: 0;
  padding-top: 11.5px;
  padding-left: 15px;
}
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 16px;
    padding-top: 17px;
  }
}
.navbar-brand img {
  width: 280px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 200px;
  }
}
#custom-bootstrap-menu > div > div.navbar-collapse.navbar-menubuilder.collapse.in {
  z-index: 99;
  margin-top: 4px;
  background: #fff;
  position: relative;
}
#custom-bootstrap-menu > div > div.navbar-collapse.navbar-menubuilder.collapse.in > ul > li > a {
  color: #0071bb;
  font-family: MuseoSansDisplay-Black;
}
#custom-bootstrap-menu > div > div.navbar-header > button > span {
  background-color: #fff !important;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  background: #0071bb;
}
#custom-bootstrap-menu > div > div.navbar-header > button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-line {
  color: #ffffff;
  background-color: transparent;
  border-color: #fff;
  border-width: 4px;
}
.btn-line:hover,
.btn-line:focus,
.btn-line:active,
.btn-line.active,
.open .dropdown-toggle.btn-line {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
}
.btn-line:active,
.btn-line.active,
.open .dropdown-toggle.btn-line {
  background-image: none;
}
.btn-line.disabled,
.btn-line[disabled],
fieldset[disabled] .btn-line,
.btn-line.disabled:hover,
.btn-line[disabled]:hover,
fieldset[disabled] .btn-line:hover,
.btn-line.disabled:focus,
.btn-line[disabled]:focus,
fieldset[disabled] .btn-line:focus,
.btn-line.disabled:active,
.btn-line[disabled]:active,
fieldset[disabled] .btn-line:active,
.btn-line.disabled.active,
.btn-line[disabled].active,
fieldset[disabled] .btn-line.active {
  background-color: transparent;
  border-color: #fff;
}
#campus-locations > ul > li.dropdown.open > div > div > ul > li > a {
  color: #fff;
  font-style: italic;
}
#topContent > nav > div.navbar-header > a {
  margin: 0px;
  padding: 6px;
  background: none;
  border: none;
  color: #fff;
  text-decoration: none;
}
#campus-locations {
  z-index: 100;
  position: relative;
  background: #0071bb;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
#app {
  overflow-x: hidden;
  font-family: 'PT Serif', serif;
}
.topHeader {
  height: 2.5em;
  min-height: 34px;
  margin-top: 1em;
  border-radius: 2px;
  font-family: museo;
}
.topHeader .dropdown-menu {
  background: #00416a;
  color: #fff;
  padding: 1.75em;
  width: 35em;
}
.topHeader .dropdown-menu h5 {
  margin-top: 0px;
}
.mainHeader {
  background: #254f6e;
  border-color: #0071bb;
  height: 5em;
  font-family: museo;
}
.logo {
  width: 20em;
}
.logo img {
  width: 100%;
}
#campus-locations > ul:nth-child(1) > li:nth-child(1) {
  padding: 0.5em;
  color: #fff;
}
.location_info {
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1em;
  width: 33.33%;
}
.location_info h5 {
  font-family: MuseoSansDisplay-Black;
}
.location_info p {
  font-style: italic;
  font-family: 'PT Serif', serif;
}
@media (max-width: 768px) {
  .location_info {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .location_info {
    width: 50%;
  }
}
.location_img {
  width: 33.33%;
  float: left;
  max-width: 160px;
  padding: 0.25em;
  margin-bottom: 1em;
}
.location_img img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .location_img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .location_img {
    width: 50%;
  }
}
#topContent {
  margin-top: -35em;
  position: relative;
}
#hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;
  height: 35em;
  background: url(../images/header-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-txt {
  margin-top: 4em;
  text-align: center;
  color: #fff !important;
}
.hero-txt h1 {
  font-size: 3.6875em;
  font-family: MuseoSansDisplay-Black;
  font-weight: 700;
}
.hero-txt p {
  margin-top: 3em;
}
#hero-video {
  font-family: MuseoSansDisplay-Black;
}
@media (max-width: 768px) {
  #topContent > div.row > div.col-xs-12.hero-txt.section > p {
    margin-top: 2em;
  }
}
.section-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
  font-family: MuseoSansDisplay-Black;
}
.section {
  position: relative;
  margin-bottom: 4.875em;
}
.section h3 {
  text-align: center;
  font-family: MuseoSansDisplay-Black;
}
.section p {
  text-align: center;
}
.section img {
  position: relative;
  text-align: center;
  width: 100%;
}
.section:nth-child(2) {
  margin-top: 10em;
}
@media (max-width: 992px) {
  .section:nth-child(2) {
    margin-top: 8em;
  }
}
@media (max-width: 768px) {
  .section:nth-child(2) {
    margin-top: 27em;
  }
}
.box-section {
  padding: 4em;
  text-align: center;
  height: 350px;
}
@media (max-width: 768px) {
  .box-section {
    height: 100%;
  }
}
.box-header {
  text-transform: capitalize;
  font-family: MuseoSansDisplay-Black;
}
.footer {
  background: #f1f2f2;
  padding: 5em 0;
}
.footer .container {
  border-bottom: 1px solid #404041;
}
@media (max-width: 768px) {
  .footer {
    padding-left: 1em;
  }
}
.footer-logo {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer-logo img {
  width: 40px;
}
.footer-group {
  float: left;
  font-family: 'Open Sans', sans-serif;
}
.footer-group h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #0071bb;
}
.footer-group ul li a {
  color: #404041;
}
@media (max-width: 768px) {
  .footer-group {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .footer-group {
    width: 20%;
  }
}
.footer-end {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
body > div.row.footer > div > div > ul > li > a {
  color: #404041;
}
.box-section {
  color: #fff;
}
#box-1 {
  background: url(../images/box-section-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-2 {
  background: url(../images/box-section-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-3 {
  background: url(../images/box-section-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box-4 {
  background: url(../images/box-section-4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 40px;
  background: #EF5350;
  font-size: 2em;
  border-radius: 0;
}
#modal-close i {
  vertical-align: super;
}
